@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?x0jl30');
  src:  url('../fonts/icomoon.eot?x0jl30#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?x0jl30') format('truetype'),
    url('../fonts/icomoon.woff?x0jl30') format('woff'),
    url('../fonts/icomoon.svg?x0jl30#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-left:before {
  content: "\e90c";
}
.icon-right:before {
  content: "\e90d";
}
.icon-education_menu:before {
  content: "\e902";
}
.icon-achie_menu:before {
  content: "\e903";
}
.icon-skills_menu:before {
  content: "\e904";
}
.icon-experience_menu:before {
  content: "\e905";
}
.icon-services_menu:before {
  content: "\e906";
}
.icon-about:before {
  content: "\e900";
}
.icon-seo:before {
  content: "\e907";
}
.icon-services:before {
  content: "\e908";
}
.icon-illustration:before {
  content: "\e909";
}
.icon-mobile:before {
  content: "\e90a";
}
.icon-developer:before {
  content: "\e90b";
}
.icon-design:before {
  content: "\e901";
}

body{
    background: #f2f8fe;
    font-family: 'Open Sans', sans-serif;
}
header{
    display: block;
    height: 50px;
}
.header_name{
    display: block;
    background: #171f2a;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
    color: #fff;
}
.header_options{
    background: #ffffff;
    height: 50px;
    line-height: 50px;
}
.header_options > .header_options_list{
    display: block;
    text-align: center;
}
.header_options > .header_options_list > div,
.header_options > .header_options_list > a{
    vertical-align: top;
    margin: 0 auto;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    color: #95989A;
    font-weight: bold;
    text-decoration: none;
    position: relative;
}

.header_options > .header_options_list > div > i{
    height: 50px;
    line-height: 50px;
    color: #0081ff;
    font-weight: bold;
}
.header_options > .header_options_list > a:hover{
    color: #0081ff;
}
.header_options > .header_options_list > a.active > i{
    position: absolute;
    left: 0;
    font-weight: bold;
    right: 0;
}
.header_options > .header_options_list > a.active{
    padding-top: 6px;
    color: #323E4F;
    font-size: 15px;
    height: 48px;
    border-bottom:2px solid #0081ff;

}
.options{
    position: absolute;
    display: block;
    background: #171f2a;
    bottom: 0;
    top: 0;
    padding-top: 50px;
    color: #fff;
    padding-left: 0;
    padding-right: 0;
}
.options > .information{
    padding-left: 15px;
    padding-right: 15px;
}
.options > .information > p{
    margin: 0;
}
.options > .information > p:nth-child(1){
    color: #0081ff;
    padding-left: 20px;
}
.options > .information > p:nth-child(n + 2){
    font-size: 24px;
    padding-left: 20px;
    font-weight: bold;
}
.options > .information > .photo {
    margin: 0 auto;
}
.options > .information > .photo > img {
    width: 100%;
}
.options > .resumen {
    margin-top: 10px;
    padding: 15px;
    text-align: center;
    background: #0081ff;
}
.options > .resumen > .about{
    margin: 0 auto;
    display: inline;
    background: #10171f;
    font-size: 12px;
    padding: 5px 15px;
    border-radius: 20px;
}
.frame{
    display: block;
    margin-bottom: 15px;
}
.frame-color-a{
    display: block;
    background: #52b36e;
}
.frame-color-a > .frame_head > .frame_icon{
    background: #2EAB61;
}
.frame-color-b{
    display: block;
    background: #35495e;
}
.frame-color-b > .frame_head > .frame_icon{
    background: #2c3e50;
}
.frame-color-c{
    display: block;
    background: #3997d3;
}
.frame-color-c > .frame_head > .frame_icon{
    background: #2880ba;
}
.frame-color-d{
    display: block;
    background: #e84c3c;
}
.frame-color-d > .frame_head > .frame_icon{
    background: #c03a2a;
}
.frame-color-e{
    display: block;
    background: #f1c40f;
}
.frame-color-e > .frame_head > .frame_icon{
    background: #f49c14;
}
.frame-color-f{
    display: block;
    background: #905ba1;
}
.frame-color-f > .frame_head > .frame_icon{
    background: #7f4996;
}
.frame > .frame_head{
    position: relative;
    color: #fff;
    height: 60px;
}
.frame > .frame_head > .frame_text{
    padding: 10px;    
}
.frame > .frame_head > .frame_text > p{
    margin-bottom: 0;
}
.frame > .frame_head > .frame_text > p:first-child{
    font-weight: bold;
}
.frame > .frame_head > .frame_icon{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    padding-top: 10px;
    text-align: center;
    vertical-align: middle;
    font-size: 38px;
    width: 80px;
}
.frame > .frame_content{
    background: #fff;
    color: #171f2a;
    border:1px solid #a9d6fc;
    border-top: none;
}
.frame > .frame_content > ul{
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
}
.frame > .frame_content > ul:before{
    position: absolute;
    content: "";
    width: 2px;
    background: rgba(0, 129, 255, 0.3);
    left: 9px;
    top: 10px;
    bottom: 10px;
}
.frame > .frame_content > ul > li{
    padding-left: 20px;
}
.frame > .frame_content > ul > li:before{
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: #0081ff;
    margin-top: 4px;
    left: 5px;

}
#me{
    display: block;
}
.title{
    font-size: 18px;
    font-weight: 800;
}


@media screen and (max-width: 768px){
    .options{
        position: relative;
    }
    
    .header_options{
        text-align: left;
    }
    .header_options > .header_options_list > a{
        display: none;
    }
    .header_options > .header_options_list > div{
        position: absolute;
        top: 0;
    }
    .header_options > .header_options_list > #header_left{
        left: 0 !important;
    }
    .header_options > .header_options_list > #header_right{
        right: 0 !important;
    }
    .header_options > .header_options_list > a.active{
        display: block;
    }
}